<ion-header class="encabezado">
  
  <ion-grid fixed>
    <ion-row>
      <ion-col size="1.3">
       <ion-icon name="arrow-back-outline" (click)="redirigir()"></ion-icon>

      </ion-col>
      <ion-col size="9.6">
        <ion-title>Contraseña</ion-title>
      </ion-col>
      <ion-col size="1.1">
        <div class="circle-container">
          <div class="circle"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content [fullscreen]="true">
<h2>Si olvido la contraseña y desea recuperarla comuníquese con el administrador en el laboratorio de análisis clínico Fauget para poder recuperarla.</h2>
<h3>Si presenta algún inconveniente con la aplicación favor de comunicarse con el laboratorio.</h3>

<ion-img src="/assets/imgs/robot.jpg"></ion-img>
</ion-content>

<ion-footer>
  <ion-grid fixed>
  <ion-row>
    <ion-col>
      <div>
        <div class="circle2"></div>
      </div>
    </ion-col>
    
  </ion-row>
  </ion-grid>
</ion-footer>
