<ion-header>
  
  <ion-grid fixed>
    <ion-row>
      <ion-col size="1.3">
       <ion-icon  name="arrow-back-outline" (click)="redirigir()"></ion-icon>

      </ion-col>
      <ion-col size="9.6">
        <ion-title style="text-align: center;"><br>Analisis de <br>sangre</ion-title>
      </ion-col>
      <ion-col size="1.1">
        <div class="circle-container">
          <div class="circle"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> 

</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col >
        <ion-img [src]="categoria.foto"></ion-img>
      </ion-col>
      <ion-col size="2">
        
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor=" let item of preciosres">
  <ion-grid fixed size-lg="12">
    <ion-row>
      <ion-col size=".1" size-lg="3"></ion-col>
      <ion-col size="11.8" size-lg="6">
        <ion-button (click)="idpagina(item)" shape="round" type="submit" expand="block">
          <ion-label class="datosimportantes">{{item.nombre}}</ion-label>
          <ion-chip class="chip" slot="end"> ${{item.precios}}</ion-chip>
        </ion-button>
      </ion-col>
      <ion-col size=".1" size-lg="3">
        
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
  
</ion-content>

<ion-footer>
    <ion-grid fixed class="footer">
      <ion-row >
        <ion-col >
          <div >
            <div class="circle2"></div>
          </div>
        </ion-col>
        <ion-col size=".5">
          
        </ion-col>
        <ion-col size="5.5">
          
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>
