.circulo {
    width: 230%;
    height: 300%;
    background: #146C94;
    border-radius: 50%;
  }

  .titul{
    color: #146C94;
    font-size: 35px;
    }

  .circulo2 {
    width: 67%;
    height: 250%;
    background: #146C94;
    border-radius: 50%;
  }

  ion-header{
    height: 25%;
    --background: #146b9400;
}

.cardAzul{
    background: #19A7CE;
    color: #ffffff;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
}

ion-footer{
    height: 10%;
    --background: #146b9400;
}
