<ion-header class="centrado ion-no-border">
  <ion-grid>
    <ion-row>
  <ion-col size="2">
    <svg [routerLink]="['/menuAdmin']" xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-arrow-left-short cAzul1" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
    </svg>
  </ion-col>
  <ion-col>
   
  </ion-col>
  <ion-col size="2">
    <div class="circulo" style="position: absolute; top: -5%; right: -170%; box-shadow: 0px 13px 13px rgba(0, 0, 0, 0.25);">
    </div>
  </ion-col>
    </ion-row>
  </ion-grid>
  <div style="text-align: center;">
    <svg fill="#000000" width="35px" height="35px" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M24.964844 1 A 1.0001 1.0001 0 0 0 24.382812 1.2128906L4.421875 16.835938L1.3828125 19.212891 A 1.0002305 1.0002305 0 1 0 2.6171875 20.787109L4 19.705078L4 46 A 1.0001 1.0001 0 0 0 5 47L45 47 A 1.0001 1.0001 0 0 0 46 46L46 19.705078L47.382812 20.787109 A 1.0002308 1.0002308 0 1 0 48.617188 19.212891L45.632812 16.878906L25.617188 1.2128906 A 1.0001 1.0001 0 0 0 24.964844 1 z M 25 3.2695312L44 18.138672L44 45L6 45L6 18.138672L25 3.2695312 z M 23 20L23 27L16 27L16 31L23 31L23 38L27 38L27 31L34 31L34 27L27 27L27 20L23 20 z"/></svg>
    <br><ion-label class="titul font500">Pacientes</ion-label><br>
  </div>
  </ion-header>

<ion-content>
  <!-- <ion-item>
    <ion-label class="normal">
      archivo
  </ion-label>
  <ion-buttons slot="end">
  <ion-button>
  <label for="file-upload">
    <ion-icon slot="icon-only" name="images"></ion-icon>
  </label>
   <input (change)="newImageUploadProductos($event)" id="file-upload" style="display: none" type="file" required="true">
  </ion-button>
  </ion-buttons>
  
  </ion-item>

  <ion-button (click)="subirArcivo()">subir</ion-button> -->

  <div class="outer-div" *ngFor="let cita of citas">
    <div style="width: 90%;">
      <!-- <ion-item>
        <ion-label>hhkbdj hhdkghb hndkjb
        </ion-label>
      </ion-item> -->
      <app-upfile [cita]="cita"></app-upfile>
    </div>
    
  </div>
  
</ion-content>

<ion-footer class="ion-no-border">
  <div class="circulo2" style="position: absolute; top: 3%; left: -40%; box-shadow: 8px 13px 13px rgba(0, 0, 0, 0.4);">
  </div>
</ion-footer>