.circulo {
    width: 90%;
    height: 51%;
    background: #146C94;
    border-radius: 50%;
  }

  .circulo2 {
    width: 70%;
    height: 170%;
    background: #146C94;
    border-radius: 50%;
  }

  ion-footer{
    height: 20%;
    --background: #146b9400;
}

.cardAzul{
    background: #19A7CE;
    color: #ffffff;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
}