<ion-header>
</ion-header>

<ion-content>

  <div class="circulo" style="position: absolute; top: -5%; right: -75%; box-shadow: 0px 13px 13px rgba(0, 0, 0, 0.25);">
  </div>

  <div class="outer-div" style="margin-top: 40px;">
    <div style="text-align: center;">
      <p class="font5000 cAzul2" style="font-size: 35px; line-height: 0px;">Menu</p>
    </div>
  </div>

  <div class="outer-div" style="margin-top: 20px;">
    <div style="text-align: center;">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-house-door cAzul2" viewBox="0 0 16 16">
        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
      </svg>
    </div>
  </div>

  <div class="outer-div" style="margin-top: 40px; width: 100%;">
    <div style="text-align: center; width: 100%;">
      <ion-card [routerLink]="['/persona']" routerDirection="forward" class="cardAzul" style="height: 100px; width: 95%;">
        <p class="font300" style="color: white; font-size: 40px; line-height: 14px;">Agendar</p>
      </ion-card>
    </div>
  </div>

  <div class="outer-div" style="margin-top: 5px; width: 100%;">
    <div style="text-align: center; width: 100%;">
      <ion-card [routerLink]="['/listCitas']" routerDirection="back" class="cardAzul" style="height: 100px; width: 95%;">
        <p class="font300" style="color: white; font-size: 40px; line-height: 14px;">Resultados</p>
      </ion-card>
    </div>
  </div>

  <div class="outer-div" style="margin-top: 5px; width: 100%;">
    <div style="text-align: center; width: 100%;">
      <ion-card (click)="onClick2()" class="cardAzul" style="height: 100px; width: 95%;">
        <p class="font300" style="color: white; font-size: 40px; line-height: 14px;">cperfil</p>
      </ion-card>
    </div>
  </div>


</ion-content>

<ion-footer class="ion-no-border">
  <div class="circulo2" style="position: absolute; top: -1%; left: -40%; box-shadow: 8px 13px 13px rgba(0, 0, 0, 0.4);">
  </div>
</ion-footer>