<ion-header class="header"> 
  <ion-grid fixed>
    <ion-row>
      <ion-col size="1.3">
       <ion-icon name="arrow-back-outline" (click)="redirigir()"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-title style="text-align: center;"><br>Agregar <br> analisis</ion-title>
      </ion-col>
      <ion-col size="1.1">
        <div class="circle-container">
          <div class="circle"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

  <ion-content>
    <div class="contenido">
    <ion-item>
      <ion-input class="datos" [(ngModel)]="analisis.nombre">Nombre:</ion-input>
    </ion-item>
    <ion-item style="height: 90px;">
      <ion-input class="datos" [(ngModel)]="analisis.precios">Precio: $</ion-input>
    </ion-item>
    </div>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="1.2"></ion-col>
        <ion-col size="10">
          <ion-button class="boton" shape="round" type="submit" expand="block" (click)="guardar()" >
            Guardar
          </ion-button>
        </ion-col>
        <ion-col size=".8">
          
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="recomendacion">
    <ion-item>
      <ion-input class="datos" [(ngModel)]="recomendaciones.recomendacion" type="text">Recomendacion: </ion-input>
    </ion-item>
    </div>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="1.2"></ion-col>
        <ion-col size="10">
          <ion-button class="guardarrecomendacion" (click)="guardarrecomendaciones()" expand="block"  shape="round">
            Guardar recomendacion
          </ion-button>
        </ion-col>
        <ion-col size=".8">
          
        </ion-col>
      </ion-row>
    </ion-grid>
   
    
          <div class="contenido" *ngFor="let item of recomendacioneslist">
            <ion-label class="recomendaciong">{{item.recomendacion}}</ion-label>
          </div>
       
    

    <ion-grid fixed>
      <ion-row>
        <ion-col size="1.2"></ion-col>
        <ion-col size="10">
          <ion-button class="boton" (click)="borrar()" expand="block" shape="round">
            Borrar todo
          </ion-button>
        </ion-col>
        <ion-col size=".8">
          
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>

  <ion-footer>
    <ion-grid fixed class="footer">
    <ion-row>
  
      <ion-col>
        <div class="content">
          <div class="circle2"></div>
        </div>
      </ion-col>
      
    </ion-row>
    </ion-grid>
  </ion-footer>
