<ion-header>
  <ion-toolbar>
          <ion-title class="titulo ion-text-wrap t">
            Quick QR PRO
          </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"
[style.--background]="scanActive?'#00000000':'#ffffff'">

  <ion-button expand="block" shape="round" (click)="startScanner()" [hidden]="scanActive">scanear</ion-button>


</ion-content>

<ion-footer class="centrado ion-no-border" style="text-align: center;">
  <ion-grid *ngIf="scanActive">
    <ion-row class="scan-button" [hidden]="!scanActive">
      <ion-col class="ion-no-padding">
        <ion-button expand="full" (click)="stopScanner()">CANCELAR</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-footer>
