<ion-header class="centrado ion-no-border">
  <ion-grid>
    <ion-row>
  <ion-col size="2">
    <svg [routerLink]="['/home']" xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-arrow-left-short cAzul1" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
    </svg>
  </ion-col>
  <ion-col>
   
  </ion-col>
  <ion-col size="2">
    <div class="circulo" style="position: absolute; top: -5%; right: -170%; box-shadow: 0px 13px 13px rgba(0, 0, 0, 0.25);">
    </div>
  </ion-col>
    </ion-row>
  </ion-grid>
  <div style="text-align: center;">
    <ion-label class="titul font500">Elige una de las</ion-label><br>
    <ion-label class="titul font500">2 opciones</ion-label>
  </div>
  </ion-header>

<ion-content>

  <div class="outer-div" style="margin-top: 40px; width: 100%;">
    <div style="text-align: center; width: 100%;">
      <ion-card (click)="crearPersonaYo()" [routerLink]="['/tipoAnalisis']" class="cardAzul" style="height: 100px; width: 95%;">
        <p class="font300" style="color: white; font-size: 40px; line-height: 14px;">Para mi</p>
      </ion-card>
    </div>
  </div>

  <div class="outer-div" style="margin-top: 5px; width: 100%;">
    <div style="text-align: center; width: 100%;">
      <ion-card [routerLink]="['/personaExterna']" class="cardAzul" style="height: 100px; width: 95%;">
        <p class="font300" style="color: white; font-size: 40px; line-height: 0px; margin-top: 28px;">Para otra</p>
        <p class="font300" style="color: white; font-size: 40px; line-height: 4px;">persona</p>
      </ion-card>
    </div>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <div class="circulo2" style="position: absolute; top: 50%; left: -40%; box-shadow: 8px 13px 13px rgba(0, 0, 0, 0.4);">
  </div>

  <div style="position: absolute; bottom: -2%; right: 0%;">
      <img style="height: 200px;" src="assets/imgs/huma.png">
  </div>
</ion-footer>