ion-content.gris{
    --ion-background-color: #989aa2;
}

ion-content.a{
    --ion-background-color:  #5d7aaa00;
}

ion-toolbar{
    // --background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #0463FA;
    text-align: center;
}

ion-header{
    // background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #0463FA;
    height: 100px;
}

.titul{
    color: #6a64ff;
    font-size: 35px;
}

.outer-div {
    display: flex; /* establece el contenedor como flexible */
    justify-content: center; /* centra horizontalmente el contenido del contenedor */
    align-items: center; /* centra verticalmente el contenido del contenedor */
}
  
.inner-div {
    margin-top: 5px;
}

// ion-datetime {
//     --background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #0463FA;
//     --background-rgb: 255, 241, 242;
//     color: white;
//     border-radius: 16px;
//     box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
//   }

ion-modal {
    --border-radius: 45px;
    --width: 95%;
}

.box01{
    display: flex;
    align-items: flex-end;
}
  
.box02{
    width: 70px;
    height: 40px;
}
  
.box03{
    width: 100%;
    height: 40px;
}

.fg{
    border-radius: 45px;
    background: #989aa2;
    border-top: 2px solid #146C94;
    border-left: 2px solid #146C94;
    border-right: 2px solid #146C94;
    border-bottom: 2px solid #146C94;
}
  
ion-item {
    --highlight-height: 2px;
    --highlight-color-focused: #6a64ff;
    --highlight-color-valid: #6a64ff;
    --highlight-color-invalid: #6a64ff;
}
  
.t1{
    width: 150px;
    height: 54px;
    border-right: 1px solid #d5d5d5;
}
  
.t2{
    width: 100%;
    height: 54px;
}
  
.hora{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 14px;
}

.iconmas{
    margin-left: 70px;
    margin-top: 10px;
}

.btnOcupado{
  background: #6a64ff;
  border-radius: 20px;
  margin-left: 36px;
  margin-top: 17px;
}

.inner-div {
  margin-top: 5px;
}

.asdff{
    color: #6a64ff;
}