/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-datetime {
    --background: white;
    --background-rgb: 255, 241, 242;
  
    border-radius: 16px;
  }

.outer-div {
    display: flex; /* establece el contenedor como flexible */
    justify-content: center; /* centra horizontalmente el contenido del contenedor */
    align-items: center; /* centra verticalmente el contenido del contenedor */
}

.font{
    font-family: 'Inter', sans-serif !important;
}

.font200{
    font-family: 'Inter', sans-serif !important;
    font-weight: 200;
}

.font300{
    font-family: 'Inter', sans-serif !important;
    font-weight: 300;
}

.font400{
    font-family: 'Inter', sans-serif !important;
    font-weight: 400;
}
.font500{
    font-family: 'Inter', sans-serif !important;
    font-weight: 400;
}

.BAzul1{
    background-color: #146C94;
}

.BAzul2{
    background-color: #19A7CE;
}

.cAzul1{
    color:#146C94;
}

.cAzul2{
    color:#19A7CE;
}

.cBlanco{
    color: #ffffff;
}

.cAzul3{
    color:#146C94;
}