<ion-header class="centrado ion-no-border">
  <ion-grid>
    <ion-row>
  <ion-col size="2">
    <svg [routerLink]="['/listCitas']" xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-arrow-left-short cBlanco" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
    </svg>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  </ion-grid>
  <div class="outer-div">
    <div style="width: 100px;" [innerHTML]="sanitizedSvg"></div>
  </div>
  </ion-header>

<ion-content>

  <div class="outer-div" style="margin-top: 20px; width: 100%;">
    <div style="text-align: center; width: 100%;">
      <ion-card [routerLink]="['/producto']" class="cardAzul" style="height: 20%; width: 95%;">
        <p class="font300" style="color: black; font-size: 22px; line-height: 5px; margin-top: 24px;">Cita el dia {{cita.fechasub}}</p>
        <p class="font" style="color: black; font-size: 22px; line-height: 15px; margin-top: 24px; font-weight: bolder;">A las {{cita.hora}} hrs.</p>
        <p class="font300" style="color: black; font-size: 22px; line-height: 30px; margin-top: 24px;">Estar presente 15 minutos antes de su cita</p>
      </ion-card>
    </div>
  </div>

  <ion-label class="font300" style="color: black; font-size: 22px; line-height: 40px; margin-top: 24px; margin-left: 22px;">{{cita.paciente}}</ion-label><br>
  <ion-label class="font300" style="color: black; font-size: 22px; line-height: 30px; margin-top: 24px; margin-left: 22px;">Tipo de analisis: {{cita.analisis}}</ion-label>

  <!-- <div class="outer-div" style="position: absolute; bottom: 0px; width: 100%;"> -->
    <div style="text-align: center; width: 100%;">
      <p class="font300" style="font-size: 40px; line-height: 0px;">PAGADO</p>
    </div>
  <!-- </div> -->

  <div class="outer-div">
    <div>
      <ion-button (click)="irResultados()" mode="ios" shape="round" color="tertiary" >Descargar resultados</ion-button>
    </div>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <div class="outer-div" style="position: absolute; top: 0px; width: 100%;">
    <div style="text-align: center; width: 80px;" [routerLink]="['/resultados']">
      <img style="height: 80px;" src="assets/imgs/success.png">
    </div>
  </div>

  <div class="circulo2" style="position: absolute; top: 50%; left: -40%; box-shadow: 8px 13px 13px rgba(0, 0, 0, 0.4);">
  </div>
</ion-footer>